* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}       

html {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    padding: 4rem 2rem;
}

.content-container {
    max-width: 100%;
}

.content-container, .rating-container > * {
    text-align: center;
}

.content-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    line-height: 0.8;
    margin-bottom: 1rem;
}

.content-container p {
    color: hsl(303, 10%, 53%);
    margin-bottom: 2.6rem;
    font-weight: 400;
}

.rating-container {
    max-width: 100%;
}

.rating-container .star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.rating-container p {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-top: 0.4rem;
}

.rating-container > * {
    margin-bottom: 2rem;
    background-color: hsl(300, 24%, 96%);
    padding: 1rem;
    border-radius: 0.6rem;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.comment-container > * {
    background-color: hsl(300, 43%, 22%);
    flex: 1;
    padding: 2rem;
    border-radius: 0.6rem;
}

.comment-container .profile {
    display: flex;
    gap: 1rem;
}

.comment-container .profile h3 {
    display: block;
}

.comment-container .profile img {
    border-radius: 50%;
    max-width: 3rem;
    width: 100%;
    height: 100%;
}

.comment-container .profile .name h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
}

.comment-container .profile .name h3 {
    color: hsla(333, 80%, 67%, 0.6);
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    font-weight: 500;
}

.comment-container p {
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

@media (min-width: 375px) {
    main {
        padding: 4rem 12rem;
        max-width: 1440px;
    }

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    .content-container {
        max-width: 25rem;
    }


    .content-container > *{
        text-align: start;
    }

    .content-container h1 {
        font-size: 3.6rem;
    }

    .rating-container > * {
        margin-bottom: 1rem;
    }

    .review {
        right: 20%;
    }

    .report {
        right: 10%;
    }

    .review, .report, .besttech {
        position: relative;
        display: flex;
        gap: 2rem;
        padding: 1rem 3rem 1rem 2rem;
    }

    .comment-container {
        flex-direction: row;
    }

    .comment-container p {
        max-width: 32ch;
    }   

    .comment-container .irene {
        position: relative;
        top: 1rem;
    }
    
    .comment-container .anne {
        position: relative;
        top: 2rem;
    }

}




